/**
* Use variables from variables.scss
*/
@use "../../../assets/styles/_variables" as *;

.profile-image {
    display: flex;
    justify-content: center;
    align-items: end;

    width: 100%;
    height: 50%;

    .image-wrapper {
        display: flex;
        justify-content: end;
        align-items: end;

        position: relative;

        height: 100%;
        width: auto;

        img {
            display: block;
            pointer-events: none;
            height: 95%;
            width: auto;
            z-index: 50;
        }

        .circles {
            height: $circle-size;
            width: $circle-size;
            position: absolute;
            top: 10px;
            right: -2%;
            left: -2%;
            margin: 0 auto;
        }

        .circle {
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            height: 100%;
            // border: $circle-stroke solid transparent;
            border-radius: 121% 128% 125% 124%/125% 120% 127% 125%;
            &:nth-child(1) {
                transform-origin: 50%-$displacement 50%;
                animation: spin1 $spin-time linear infinite;
                background: $circle-color;
                animation-duration: 10s;
            }
            &:nth-child(2) {
                transform-origin: 50% 50% + $displacement;
                animation: spin2 $spin-time linear infinite;
                background: $circle-color;
                animation-duration: 10s;
            }
            &:nth-child(3) {
                transform-origin: 50% + $displacement 50%;
                animation: spin3 $spin-time linear infinite;
                background: $circle-color;
                animation-duration: 10s;
            }
        }
    }
}
