/**
* Use variables from variables.scss
*/
@use "../../../styles/_variables" as *;

.button-link {
    display: inline-block;
    position: relative;
    margin-top: 2rem;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: $white;
    outline: none;
    text-decoration: none;

    padding: 1rem 2rem;
    border-radius: 0.25rem;

    transition: all 0.3s ease;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 1px solid $yellow;
        transition: all 0.3s ease;
        border-radius: 0.25rem;
    }

    &:hover {
        background: $yellow;
        color: $white;
        transform: translate(-5px, -5px);
    }

    &:hover:after {
        transform: translate(5px, 5px);
    }
}
