/**
* Use variables from variables.scss
*/
@use "../../../styles/_variables" as *;

.text-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $white;
    text-decoration: none;
    margin-top: 1rem;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.05rem;

    cursor: pointer;

    transition: color 0.5s ease;

    svg {
        transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1)
            scaleY(1);
        transition: all 0.5s ease;
    }

    &:hover {
        color: $yellow;

        svg {
            transform: translate(0.25rem, -0.1rem) rotate(0) skewX(0) skewY(0)
                scaleX(1) scaleY(1);
        }
    }
}
