/**
* Use variables from variables.scss
*/
@use "./variables" as *;

.section {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
}

.wrapper {
    padding: 2rem;
}

.fullscreen {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
}

#about {
    .fullscreen {
        &:nth-child(1) {
            background: $black;

            .section {
                .wrapper {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 0;
                }
            }
        }

        &:nth-child(2) {
            background: $white;

            .section {
                .wrapper {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 0;
                }
            }
        }
    }
}

#portfolio {
    .fullscreen {
        &:nth-child(1) {
            height: auto;
            background: $black;

            .section {
                height: auto;
                padding: 4rem 0 6rem;

                .wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        &:nth-child(2) {
            background: $white;
        }

        .section {
            .wrapper {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#contact {
    .fullscreen {
        background: $black;

        .section {
            .wrapper {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                position: relative;

                padding-bottom: 0;
            }
        }
    }
}
