/**
* Use variables from variables.scss
*/
@use "../../styles/_variables" as *;

.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding-bottom: 20px;

    .projects-info {
        text-align: center;

        .projects-title {
            color: $black;
        }
    }

    .projects-details-wrapper {
        max-width: 728px;
        margin: 0 auto;

        .projects-details {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 1rem;

            color: $black;

            line-height: 1.5rem;
            text-align: left;

            .highlight {
                cursor: pointer;
                font-weight: 700;
                transition: color 0.3s ease;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    transition: opacity 0.3s ease;
                    border-top: 2px solid $yellow;
                    opacity: 0;
                }

                &:hover:after {
                    opacity: 1;
                }
            }
        }
    }

    .projects-slider-wrapper {
        .slick-slider {
            .slick-arrow {
                background-color: $black;
                height: 25px;
                width: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                opacity: 0.8;
                height: 30px;
                width: 30px;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: $yellow;
                    opacity: 1;
                }

                &:before {
                    display: none;
                }
            }

            .arrows {
                height: 20px;
                width: 20px;
                margin: 1px;
            }
        }

        .project-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 150px 20px 20px;

            .card-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                background-color: #fff;
                border-radius: 15px;
                margin: 0 auto;
                padding: 40px;
                width: 100%;
                max-width: 700px;
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);

                .card-image {
                    position: absolute;
                    top: 0;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 400px;
                    z-index: 3;

                    img {
                        width: 100%;
                        height: auto;
                        max-width: 400px;
                        margin: 0 auto;
                        border-radius: 15px;
                        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 15px;
                        background-color: $yellow;
                        opacity: 0;
                        pointer-events: none;
                        transition: opacity 0.3s ease;
                    }

                    &:hover:after {
                        opacity: 0.5;
                    }
                }

                .card-details {
                    margin-top: 100px;
                    text-align: center;

                    .project-title {
                        font-family: "Montserrat", sans-serif;
                        font-weight: 700;
                        font-size: 1.15rem;
                        line-height: 1.15rem;
                        letter-spacing: 0.1rem;
                        color: $black;
                        margin-bottom: 10px;
                        cursor: pointer;
                        transition: color 0.3s ease;
                        text-decoration: none;

                        &:hover {
                            color: $yellow;
                        }
                    }

                    p {
                        font-size: 1rem;
                        margin-bottom: 2px;

                        span {
                            font-weight: 700;
                            margin-right: 10px;
                        }
                    }
                }
            }

            @media (max-width: 430px) {
                padding: 20px;

                .card-wrapper {
                    padding: 0;

                    .card-image {
                        position: unset !important;
                        transform: translate(0);
                    }
                    .card-details {
                        display: none;
                    }
                }
            }
        }
    }
}
