/**
* Use variables from variables.scss
*/
@use "../../styles/_variables" as *;

.experience-wrapper {
    width: 100%;
    text-align: center;

    .experiences-info {
        text-align: center;
        margin-bottom: 2rem;

        .experiences-title {
            color: $white;
        }
    }

    .work-experiences-wrapper {
        .work-experience-list {
            padding: 0;
            margin: 0;
            list-style: none;

            .work-experience {
                color: $white;
                margin: 8rem 0;

                hr {
                    margin: 2rem 0;
                    border-color: $black;
                }

                &:nth-child(odd) {
                    text-align: left;

                    .details {
                        .details-list {
                            .detail {
                                padding-left: 30px;

                                &:before {
                                    content: "▹";
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    color: $yellow;
                                }
                            }
                        }
                    }
                }

                &:nth-child(even) {
                    text-align: right;

                    .details {
                        .details-list {
                            .detail {
                                padding-right: 30px;

                                &:after {
                                    content: "◃";
                                    position: absolute;
                                    right: 0px;
                                    top: 0px;
                                    color: $yellow;
                                }
                            }
                        }
                    }
                }

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                .company {
                    margin: 0;
                    font-weight: 500;
                    color: $yellow;
                    white-space: nowrap;

                    a {
                        position: relative;
                        color: $yellow;
                        text-decoration: none;

                        &:after {
                            content: "";
                            display: block;
                            width: 0px;
                            height: 2px;
                            position: absolute;
                            background-color: var(--yellow);
                            opacity: 0.5;
                            left: 0;
                            bottom: 5px;
                            transition: all 0.3s ease;
                        }

                        &:hover:after {
                            width: 100%;
                        }
                    }
                }

                .position-bottom {
                    margin-bottom: 8px;
                }

                .role {
                    margin-bottom: 1rem;
                }

                .duration {
                    margin-top: 0;
                }

                .details {
                    .details-list {
                        padding: 0;
                        margin: 0;
                        list-style: none;

                        .detail {
                            position: relative;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
