/**
* Use variables from variables.scss
*/
@use "../../../styles/_variables" as *;

.socials {
    margin-top: 1rem;
    padding: 1rem 0;

    .socials-list {
        padding: 0;
        margin: 0;

        .socials-item {
            display: inline-block;
            margin-right: 2rem;

            &:nth-child(1) > .socials-link:hover {
                color: $github;
            }

            &:nth-child(2) > .socials-link:hover {
                color: $linkedin;
            }

            &:nth-child(3) > .socials-link:hover {
                color: $instagram;
            }

            &:nth-child(3) {
                margin-right: 0;
            }

            .socials-link {
                height: 100px;
                width: 100px;
                color: $light;

                transition: color 0.5s ease;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
