/**
* Use variables from variables.scss
*/
@use "./variables" as *;

#logo{
    display: none;
    position: fixed;
    top: 2rem;
    left: 0.25rem;
    z-index: 100;

    img{
        width: 80px;
        height: 80px;
    }
}

#navigation-bar{
    display: none;

    position: fixed; 
    background-color: rgba(0, 0, 0, 0);
    width: 100vh;
    z-index: 99;
    -webkit-transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
                    
    mix-blend-mode: difference;
    
    .nav{
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row-reverse;
        list-style-type: none;
        padding: 0 10rem 0 2rem;

        .nav-item{
            height:100%;
            line-height:45px;
            text-align: center;
            max-width: 170px;
            width: 100%;

            .nav-link{
                font-family: 'Bebas Neue', sans-serif;
                font-weight: 400;
                font-size: 1.1rem;
                letter-spacing: 0.15rem;
                text-decoration: none;

                padding: 0 .5rem;

                position: relative;
                display: inline-block;

                overflow: hidden;

                &:after{
                    content: "";
                    background: $white;
                    position: absolute;
                    bottom: 10px;
                    height: 2px;
                    width: 100%;

                    transition: all 0.3s ease;

                    right: 100%;
                }

                &:hover:after{
                    transform: translate(100%, 0);
                }

                &:active:after{
                    transform: translate(100%, 0);
                }

                .text-wrapper{
                    color: $light;
                }
            }

            .active{

                &:after{
                    transform: translate(100%, 0);
                }

                .text-wrapper{
                    color: $white;
                }
            }
        }
    }
}